@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very_dark_blue: hsl(212, 21%, 14%);
$dark_grayish_blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        background-color: $cream;
        font-family: 'Montserrat', sans-serif;
        color: $dark_grayish_blue;

        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50vw;
            height: 70vh;
            background-color: $white;
            display: flex;
            border-radius: 1vw;
            overflow: hidden;

            #image {
                width: 50%;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #content {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 4.5vh 2.2vw;

                h3 {
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 0.45vw;
                }

                h1 {
                    font-family: 'Fraunces', serif;
                    width: 90%;
                    line-height: 5.5vh;
                    color: $black;
                }

                p {
                    line-height: 4vh;
                    width: 95%;
                }

                #price {
                    display: flex;
                    align-items: center;
                    gap: 2vw;
                    font-family: 'Fraunces', serif;
                    color: $dark_cyan;

                    span {
                        text-decoration: line-through;
                        color: $dark_grayish_blue;
                        font-family: 'Montserrat', sans-serif;
                    }
                }

                button {
                    font-family: inherit;
                    font-weight: 700;
                    height: 12%;
                    border: none;
                    border-radius: 0.7vw;
                    background-color: $dark_cyan;
                    color: $white;
                    line-height: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5vw;
                    transition: 0.7s;
                    
                    img {
                        height: 40%;
                    }
                }

                button:hover {
                    cursor: pointer;
                    background-color: $very_dark_blue;
                }
            }

            @media (max-width: 3000px) {
                h3 {
                    font-size: 1.7rem;
                }

                h1, #price {
                    font-size: 4.5rem;
                }

                p, #price span, button {
                    font-size: 1.8rem;
                }
            }

            @media (max-width: 2195px) {
                h3 {
                    font-size: 1.3rem;
                }

                h1, #price {
                    font-size: 3.5rem;
                }

                p, #price span, button {
                    font-size: 1.4rem;
                }
            }

            @media (max-width: 1760px) {
                h3 {
                    font-size: 1rem;
                }

                h1, #price {
                    font-size: 2.7rem;
                }

                p, #price span, button {
                    font-size: 1.1rem;
                }
            }

            @media (max-width: 1380px) {
                h3 {
                    font-size: 0.8rem;
                }

                h1, #price {
                    font-size: 2.1rem;
                }

                p, #price span, button {
                    font-size: 1rem;
                }
            }

            @media (max-width: 1100px) {
                h3 {
                    font-size: 0.5rem;
                }

                h1, #price {
                    font-size: 1.5rem;
                }

                p, #price span, button {
                    font-size: 0.7rem;
                }
            }
        }
    }
}